<div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/photos/1.png');">
    </div>
</div>
<div class="section section-contact-us text-center">
    <div class="container" id="main-container">
        <h2 class="title">Contact us</h2>
        <p class="description">Your feedback is very important to us.</p>
        <div class="row">

            <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto" id="addFeedbackModal">
            <form #addForm="ngForm" (ngSubmit)="addNewFeedback(addForm)" id="add-feedback-form">
                <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                <div class="input-group-prepend" >
                  <span class="input-group-text">
                      <i class="now-ui-icons users_circle-08"></i>
                  </span>
                </div>
                  <input type="text" required  [(ngModel)]="addForm.value.name" name="name"  class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false">
              </div>
              <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend" >
                  <span class="input-group-text">
                        <i class="now-ui-icons ui-1_email-85"></i>
                  </span>
                </div>
                  <input type="text" required [(ngModel)]="addForm.value.email" name="email"  class="form-control" placeholder="E-mail" (focus)="focus1=true" (blur)="focus1=false">
              </div>
                <div class="textarea-container">
                    <textarea class="form-control" required [(ngModel)]="addForm.value.message" name="message"  rows="4" cols="80" placeholder="Type a message..."></textarea>
                </div>
                <div class="send-button">
                    <!--<a href="#" class="btn btn-primary btn-round btn-block btn-lg" (click)="public onOpenModal(null, 'add'">Send Message</a>>-->
                
                    <a  type="Submit" class="btn btn-primary btn-round btn-block btn-lg" (click)="addNewFeedback(addForm)" >Send Message</a>
                </div>
            </form>
            </div>

        </div>
    </div>
</div>
<footer class="footer footer-default">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="">
                        TSA
                    </a>
                </li>
                <li>
                    <a href="">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="">
                        Blog
                    </a>
                </li>
                <li>
                    <a >
                       
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
            {{data | date: 'yyyy'}}, Designed by
        </div>
    </div>
</footer>