<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/photos/1.png');">
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Qui somme nous?</h2>
                    <h5 class="description">L’association des scouts tunisiens est une organisation de scoutisme et d’éducation populaire qui vise
                        à former des citoyens actifs dans le développement de leurs pays, heureux de leurs
                        accomplissements et participants à la propagation de l’amour dans le monde entier. Notre
                        association mise sur une pédagogie du jeu, du projet, de l’équipe et de la vie dans la nature. Elle
                        propose ainsi aux jeunes filles et garçons un espace de vie qui répond à leur besoin de rêver, d’agir,
                        de réussir leurs projets, de vivre en communauté et de donner un sens à leur vie.
                        Une association reconnue par l’Etat Tunisien sous le JORT numéro N°2020X00260APSF1</h5>
                </div>
            </div>
        </div>
 
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                . Coded by
            </div>
        </div>
    </footer>
</div>
</div>