  <div class="section section-about-us" style="background-color:#514D04">
    <div class="container"> 
    <div class="container">
        <div class="team">
            <div class="row">
                <div class="col-md-4">
                    <div class="team-player">
                        <img src="assets/img/product1.jpg" alt="Thumbnail Image" class="img-fluid img-raised">
                        <h4 class="title">10€</h4>
                        <p class="category text-primary"> Tasse émaillée Scouts et Guides de France</p>
                        
                
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-player">
                        <img src="assets/img/product1.jpg" alt="Thumbnail Image" class="img-fluid img-raised">
                        <h4 class="title">10€</h4>
                        <p class="category text-primary"> Tasse émaillée Scouts et Guides de France</p>
                        
                
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-player">
                        <img src="assets/img/product1.jpg" alt="Thumbnail Image" class="img-fluid img-raised">
                        <h4 class="title">10€</h4>
                        <p class="category text-primary"> Tasse émaillée Scouts et Guides de France</p>
                        
                
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-player">
                        <img src="assets/img/product1.jpg" alt="Thumbnail Image" class="img-fluid img-raised">
                        <h4 class="title">10€</h4>
                        <p class="category text-primary"> Tasse émaillée Scouts et Guides de France</p>
                        
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<footer class="footer footer-default">
    <div class="container">
        <div class="copyright">
            &copy;
            {{data | date: 'yyyy'}}, Designed by
            <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
        </div>
    </div>
</footer>