<div class="wrapper">
	<div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/photos/1.png');">
        </div>
    </div>
    <div class="section section-support-us">
    	<div class="container">
            <div class="section-story-overview">
    		    <div class="row">
                    <div class="col-md-6">
                        <h2 class="title">Pourquoi nous Soutenir ?</h2>
                        <p>En aidant l’association du Scout Tunisien vous soutenez :</p>
                        <ul>
                            <li> L’éducation des garçons et des filles à devenir des citoyens actifs, heureux, utiles et artisans de paix. En lien avec des partenaires associatifs, les enfants et les jeunes réalisent des projets qui ont un réel impact dans la société. Ces missions leur donnent le goût de l’investissement et de l’action. A l'heure où la société a plus que jamais besoin d'éduquer au vivre ensemble, l’association du Scout Tunisien éduque à la tolérance et à l'ouverture à l'autre.</li>
                            <li>L'éducation à l'environnement et au développement durable. La nature est un formidable terrain de jeu et d’apprentissage. Des nombreuses activités sont organisées pour permettre aux enfants et aux jeunes d’apprendre à mieux la connaitre et à la protéger. Votre soutien pourra résoudre les besoins d’équipement de surveillance des feux de projet Nature Environnement, développer des activités de préservations à l’environnement et de sensibilisation, etc.</li>
                            <li>La formation et l’accompagnement des bénévoles.  La majorité de nos bénévoles ont moins de 25 ans. Votre soutien pourra renforcer et valoriser les formations et les rencontres des bénévoles.</li> 
                            <li>Bien d’autres projets sont à réaliser ensemble…</li>
                         </ul>
                            <h6>DONATEURS, FINANCEURS ET MÉCÈNES, L’ASSOCIATION S’ENGAGE À :</h6>
                             <br>
                            <ul>
                                <li>Vous tenir régulièrement informé de l’avancé des projets soutenus</li>
                                <li>Vous informer via nos newsletters de l’actualité de l’association.</li>
                                <li>Vous envoyer un reçu fiscal après réception de votre don</li>
                                <li>Vous garantir la transparence et l’utilisation de votre don</li>
                                <li>Vous aider à animer notre partenariat dans votre entreprise ou votre institution, en mettant à votre disposition notre expérience et expertise.</li>
                            </ul>
                            <br>
                    </div>
                    <div class="col-md-4"> 
                        <br><br><br><br><br><br><br><br><br>
                        <div class="image-container image-left" style="background-image: url('assets/img/photos2/j1.png')">
                            <!-- Third image on the right side -->    
                        </div>   
                    </div>   
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="row">
                <div class="col-md-11 ml-auto mr-auto text-center">
                    <h2 class="title">Vous êtes un particulier ?</h2>
                    <p>Les dons permettent d’accueillir toujours plus de jeunes, grâce à la formation de bénévoles, dont de nombreux chefs et cheftaines, mais aussi grâce à de nouvelles structures d’accueil notamment pour les enfants et les jeunes en situation de handicap.</p>
                    <br>
                    <p>Enfin, ils financent de nombreuses activités en vue d’éduquer la jeunesse à la protection de la nature et au développement durable.</p>                    
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/photos2/e1.png')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">"A Scout is never taken by surprise; he knows exactly what to do when anything unexpected happens"
                                <br>
                                <br>
                                <small>Robert Baden-Powell</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/photos2/e2.png')"></div>
                    </div>
                    <div class="col-md-6" >
                        <br><br>
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/photos2/e3.png')"></div>
                        <br>
                        <h2 class="title">Vous êtes une entreprise </h2>
                        <br>
                        <h6>LES DIFFÉRENTES FORMES DE PARTENARIATS POSSIBLES 
                        </h6>
                        <br>
                        <ul>
                            <li> Nous souhaitons mettre en place des partenariats créatifs à l’image du scoutisme et des jeunes. Vos dons financiers, matériels ou/et en compétences nous permettra de réaliser le projet éducatif de l’association. Les dons matériels pourront permettre de :
                            </li>
                            <li>réaliser les activités de scoutisme (matériel pédagogiques, de camping, etc.)</li>
                            <li>accueillir les enfants et les jeunes sur les activités (alimentation, etc.)</li>
                            <li>structurer l’association (bureautique, etc.)…</li>
                        </ul>
                        <p>Les dons de compétences de vos collaborateurs soutiendront l’investissement des bénévoles et aideront à structurer l’association. </p>
                        <br>
                        <h6>LES PARTENARIATS, UNE AVENTURE À PARTAGER :</h6>
                        <br>
                        <p>Pour mobiliser vos salariés autour d’un projet fédérateur et de valeurs fortes, nous sommes à vos côtés.</p>
                        <ul>
                            <li>En équipe, réalisez un chantier solidaire (rénovation de bâtiment, reboisement, jardinage dans un potager biologique…)</li>
                            <li>Partez au cœur de la forêt pour un séminaire « à la scout » dans l’une de nos propriétés. </li>
                            <li>Intervenez en conférence devant des bénévoles de l’association</li>
                            <li>Animez un atelier pédagogique avec nos bénévoles  </li>
                        </ul>
                    </div>
                   </div>
                    <div class="separator separator-primary"></div>
                    <div class="row">
                        <div class="col-md-5">
                            <br>
                            <!-- third image on the left side of the article -->
                            <div class="image-container" style="background-image: url('assets/img/photos2/SDG.png')"></div>
                        </div> 
                    <div class="col-md-6">
                        <h2 class="title">Vous êtes une association </h2> 
                        <p>C’est par la construction de projets avec d’autres associations et collectifs, que l’association du Scout Tunisien enrichi ces activités et développe son engagement dans la société. Dans cette démarche orientée vers les défis du monde d’aujourd’hui et de demain l’association du Scout Tunisien tisse différents types de partenariats éducatifs en Tunisie et à l’international.</p> 
                        <h6>DES FORMES DE PARTENARIATS MULTIPLES</h6>
                        <p>Nos partenaires développent de nombreux projets avec nous : scoutisme en quartiers, potager pédagogique, élaboration de formations, protection des feux de forêts …</p>
                        <p>Leur implication dans ces projets prend diverses formes : </p>
                            <ul>
                            	<li>Soutien financier,</li>
                           	    <li>Co-organisation de projet,</li>
                            	<li>Appui thématique,</li> 
                                <li>Evènements conjoints</li>
                            </ul>
                        <p>Etre partenaire de l’association du Scout Tunisien, c’est s’engager à la hauteur de ses possibilités, au côté des familles et des jeunes, pour une société juste et solidaire.</p>
                        <h6>VOUS AUSSI, DEVENEZ PARTENAIRE !</h6>
                        <p>Devenir partenaire de l’association du Scout Tunisien, c’est partager des valeurs, c’est contribuer à une mission d’intérêt général qui nous tient tous à cœur : l’éducation des enfants et des jeunes pour les aider à devenir des citoyens engagés et responsables.</p>
                        <p>Votre partenariat peut prendre la forme d’un soutien financier : institutions, parlementaires, associations, votre aide nous est précieuse pour mener à bien notre mission.</p>
                        <p>Vous pouvez également développer des projets avec nous : cette année, nous sommes engagés à développer l’accueil de tous les jeunes. Vos expériences, conseils et soutiens sont les bienvenus !</p>
                    </div>   
                </div>
            </div>
    	</div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                . Coded by
            </div>
        </div>
    </footer>
</div>
