<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/mounir.jpg" alt="Thumbnail Image" class="img-fluid img-raised">
                            <h4 class="title">titre</h4>
                            <p class="category text-primary">sous titre</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="news-detail">read more...</a></p>
                    
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/mounir.jpg" alt="Thumbnail Image" class="img-fluid img-raised">
                            <h4 class="title">titre</h4>
                            <p class="category text-primary">sous titre</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="news-detail">read more...</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/mounir.jpg" alt="Thumbnail Image" class="img-fluid img-raised">
                            <h4 class="title">titre</h4>
                            <p class="category text-primary">sous titre</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="news-detail">read more ...</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
