<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/photos/1.png');">
        </div>
    </div>
    <div class="section section-entreprise">
    	<div class="container">
            <div class="section-story-overview">
    		    <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/photos2/e1.png')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">"A Scout is never taken by surprise; he knows exactly what to do when anything unexpected happens"
                                <br>
                                <br>
                                <small>Robert Baden-Powell</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/photos2/e2.png')"></div>
                    </div>
                    <div class="col-md-6" >
                        <br><br>
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/photos2/e3.png')"></div>
                        <br>
                        <h2 class="title">Vous êtes une entreprise </h2>
                        <br>
                        <h6>LES DIFFÉRENTES FORMES DE PARTENARIATS POSSIBLES 
                        </h6>
                        <br>
                        <ul>
                            <li> Nous souhaitons mettre en place des partenariats créatifs à l’image du scoutisme et des jeunes. Vos dons financiers, matériels ou/et en compétences nous permettra de réaliser le projet éducatif de l’association. Les dons matériels pourront permettre de :
                            </li>
                            <li>réaliser les activités de scoutisme (matériel pédagogiques, de camping, etc.)</li>
                            <li>accueillir les enfants et les jeunes sur les activités (alimentation, etc.)</li>
                            <li>structurer l’association (bureautique, etc.)…</li>
                        </ul>
                        <p>Les dons de compétences de vos collaborateurs soutiendront l’investissement des bénévoles et aideront à structurer l’association. </p>
                        <br>
                        <h6>LES PARTENARIATS, UNE AVENTURE À PARTAGER :</h6>
                        <br>
                        <p>Pour mobiliser vos salariés autour d’un projet fédérateur et de valeurs fortes, nous sommes à vos côtés.</p>
                        <ul>
                            <li>En équipe, réalisez un chantier solidaire (rénovation de bâtiment, reboisement, jardinage dans un potager biologique…)</li>
                            <li>Partez au cœur de la forêt pour un séminaire « à la scout » dans l’une de nos propriétés. </li>
                            <li>Intervenez en conférence devant des bénévoles de l’association</li>
                            <li>Animez un atelier pédagogique avec nos bénévoles  </li>
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
        <footer class="footer footer-default">
            <div class="container">
                <div class="copyright">
                    &copy;
                    {{data | date: 'yyyy'}}, Designed by
                    . Coded by
                </div>
            </div>
        </footer>
    </div>
</div>