<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/photos/1.png');">
        </div>
    </div>
    <div class="section section-politic">
    	<div class="container">
            <div class="section-story-overview">
    		    <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/photos/6.png')">
                            <!-- Forth image on the left side -->
                        </div>
                         <!-- Fifth image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/photos/8.png')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- Second image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/photos/7.png')"></div>
                        <h2 class="title">Politique de protection de l’enfance</h2>
                        <p>L’association du Scout Tunisien est engagée, depuis sa création, dans la protection de l’enfance qui est au cœur de 
                            notre politique éducative. Le bien-être et la sécurité des jeunes sont des piliers fondamentaux de notre politique 
                            éducative. 
                        </p>
                        <h3>Sensibilisation, formation et soutien des guides</h3>
                        <p>
                            Lors des différents stages de formation, un accent est mis sur l’obligation et la manière d’assurer la sécurité 
                            physique, affective et morale des mineurs. </p> <br><p>
    D’autre part, aucune personne condamnée pour des faits d’agressions sur mineurs dans un autre cadre ne peut donc être en charge 
    de l’animation ou de la direction d’accueil de mineurs au sein de l’association du Scout Tunisien.
                        </p>
            
                        <h3>Politique internationale de protection de l'enfance</h3>
                        <p>L'enfance est la première étape qu'une personne traverse, et se poursuit de sa naissance à l'âge adulte. L'enfant, 
                            à ce stade, est faible et a besoin de soins, d'attention et de services. Il est incapable de se défendre contre 
                            les dangers, et comme à la suite des nombreux abus subis par certains enfants, les organisations internationales 
                            se sont tournées vers des solutions de protection de l’enfance. Ces organisations ont lié les gouvernements des 
                            pays aux pactes qu'elles avaient émis et ont en fait été en mesure de protéger les enfants contre les abus. Ceci 
                            est effectué en imposant des sanctions à ceux qui violent leurs lois vis-à-vis des Etats membres. 
                        </p>
                        <h3>Le concept de protection de l'enfance</h3>
                        <p>La protection de l'enfance est un ensemble de règles, de cadres et de procédures qui sont prises pour prévenir les 
                            abus contre les enfants tels que la violence et l'exploitation, et pour préserver leur dignité et leur bien-être, 
                            afin de renforcer la confiance en soi de l'enfant pour émerger en tant que jeune homme équilibré qui ne souffre 
                            pas de maladies mentales, et donc la reconstruction de la société et augmenter son élévation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer footer-default">
            <div class="container">
                <div class="copyright">
                    &copy;
                    {{data | date: 'yyyy'}}, Designed by
                    . Coded by
                </div>
            </div>
        </footer>
    </div>
    </div>