<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/photos/1.png');">
        </div>
    </div>
    <div class="section section-association">
    	<div class="container">
            <div class="section-story-overview">
    		    <div class="row">
                    <div class="col-md-6">
                        <h2 class="title">Vous êtes une association </h2> 
                        <p>C’est par la construction de projets avec d’autres associations et collectifs, que l’association du Scout Tunisien enrichi ces activités et développe son engagement dans la société. Dans cette démarche orientée vers les défis du monde d’aujourd’hui et de demain l’association du Scout Tunisien tisse différents types de partenariats éducatifs en Tunisie et à l’international.</p> 
                        <h6>DES FORMES DE PARTENARIATS MULTIPLES</h6>
                        <p>Nos partenaires développent de nombreux projets avec nous : scoutisme en quartiers, potager pédagogique, élaboration de formations, protection des feux de forêts …</p>
                        <p>Leur implication dans ces projets prend diverses formes : </p>
                            <ul>
                            	<li>Soutien financier,</li>
                           	    <li>Co-organisation de projet,</li>
                            	<li>Appui thématique,</li> 
                                <li>Evènements conjoints</li>
                            </ul>
                        <p>Etre partenaire de l’association du Scout Tunisien, c’est s’engager à la hauteur de ses possibilités, au côté des familles et des jeunes, pour une société juste et solidaire.</p>
                        <h6>VOUS AUSSI, DEVENEZ PARTENAIRE !</h6>
                        <p>Devenir partenaire de l’association du Scout Tunisien, c’est partager des valeurs, c’est contribuer à une mission d’intérêt général qui nous tient tous à cœur : l’éducation des enfants et des jeunes pour les aider à devenir des citoyens engagés et responsables.</p>
                        <p>Votre partenariat peut prendre la forme d’un soutien financier : institutions, parlementaires, associations, votre aide nous est précieuse pour mener à bien notre mission.</p>
                        <p>Vous pouvez également développer des projets avec nous : cette année, nous sommes engagés à développer l’accueil de tous les jeunes. Vos expériences, conseils et soutiens sont les bienvenus !</p>
                   
                            <br>
                    </div>
                    <div class="col-md-4"> 
                        <br><br><br><br><br><br><br><br><br>
                        <div class="image-container image-left" style="background-image: url('assets/img/photos2/SDG.png')">
                            <!-- Third image on the right side -->    
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer footer-default">
            <div class="container">
                <div class="copyright">
                    &copy;
                    {{data | date: 'yyyy'}}, Designed by
                    . Coded by
                </div>
            </div>
        </footer>
    </div>
</div>