<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/photos/1.png');">
        </div>
    </div>
    <div class="section section-particular">
    	<div class="container">
            <div class="section-story-overview">
    		    <div class="row">
                    <div class="col-md-5">
                        <h2 class="title">L’histoire du Scoutisme</h2>
                        <p>Il y a plus de 40 millions de scouts, jeunes et adultes des deux sexes, dans plus de 200 pays et territoires. 
                            Quelque 500 millions de personnes ont été scoutes, y compris des gens occupant des positions éminentes dans 
                            tous les domaines.
                        </p>   
                        <h3>Les débuts</h3>
                        <p>Tout a commencé avec 20 garçons et un camp expérimental en 1907. Il eut lieu dans les neufs premiers jours du mois 
                            d’août, en 1907, sur l’île de Brownsea, près de Poole dans le Dorset, en Angleterre. Le camp connût un grand succès
                            et donna à son organisateur, Robert-Baden-Powell, la preuve que ses méthodes de formation plaisaient aux jeunes et                         fonctionnaient réellement.
                            En janvier 1908, Baden-Powell publia la première édition de "Eclaireurs". Ce fut un succès immédiat et depuis cette 
                            date l'ouvrage a été vendu à plus de 100 millions d'exemplaires, ce qui en fait un des livres les plus vendus de tous 
                            les temps. L'intention de Baden-Powell était seulement de proposer une méthode de formation des jeunes garçons, que 
                            les organisations de jeunesse existantes comme la Boys' Brigade (Brigade des Jeunes) et l'Union Chrétienne des Jeunes 
                            Gens (UCJG) pourraient adopter. A sa grande surprise, des jeunes commencèrent à s'organiser eux-mêmes en groupes qui 
                            allaient donner naissance à l'un des plus grands mouvements de jeunesse du monde.
                        </p> 
                        <h3>L'expansion du Mouvement</h3>
                        <p>Le succès de "Scouting for Boys" donna naissance à un Mouvement qui rapidement - automatiquement semble-t-il - 
                            adopta le nom de Boy Scouts. En 1909 "Scouting for Boys" avait été traduit en cinq langues, et un rassemblement 
                            scout à Londres attira plus de 11'000 scouts. En conséquence de vacances prises par Baden-Powell en Amérique du 
                            Sud, le Chili devint l'un des premiers pays, en dehors de la Grande-Bretagne, où le Scoutisme apparut. En 1910, 
                            B-P visita le Canada et les Etats-Unis où le Mouvement était déjà établi.
                        </p>
                        <br>
                        <p>Le déclenchement de la première guerre mondiale en 1914 aurait pu entraîner l'effondrement du Mouvement, mais la 
                            formation donnée à travers le système des patrouilles prouva sa valeur. Les chefs de patrouilles prirent la place 
                            des responsables adultes lorsque ceux-ci s'engagèrent dans le service actif. Les scouts contribuèrent à l'effort 
                            de guerre en Angleterre de bien des façons; parmi les plus notables peut-être, on peut citer les scouts marins, 
                            qui prirent le rôle des gardes-côtes et rendirent ceux-ci disponibles pour le service des armes.
                        </p>
                        <br>
                        <p>Le premier Jamboree Scout Mondial eut lieu en 1920 et réunit 8'000 participants. Il apporta la preuve que des 
                            jeunes de nations différentes pouvaient se rencontrer pour partager des intérêts et des idéaux communs. Depuis 
                            ce premier Jamboree à l'Olympia, à Londres, 21 autres Jamborees ont été organisés dans différents lieux à travers 
                            le monde.
                        </p>
                        <br>
                        <p>Le premier Jamboree Scout Mondial eut lieu en 1920 et réunit 8'000 participants. Il apporta la preuve que des 
                            jeunes de nations différentes pouvaient se rencontrer pour partager des intérêts et des idéaux communs. Depuis 
                            ce premier Jamboree à l'Olympia, à Londres, 21 autres Jamborees ont été organisés dans différents lieux à travers 
                            le monde. 
                        </p>
                        <br>
                        <p>En 1922, le premier Comité Mondial du Scoutisme fut élu au cours de la deuxième Conférence Internationale organisée
                            à Paris, avec des représentants de 31 Organisations scoutes nationales. Le Mouvement mondial comptait alors juste
                            un peu plus de un million de membres.
                        </p>
                    </div>
                    <br>
                    
                    <div class="col-md-5"> 
                        <br><br><br><br><br><br><br><br>
                        <div class="image-container image-left" style="background-image: url('assets/img/photos/9.png')">
                            <!-- Third image on the right side -->    
                        </div> 
                        <br><br><br><br><br><br><br><br>
                        <div class="image-container image-left" style="background-image: url('assets/img/photos/10.png')">
                            <!-- Forth image on the right side -->    
                        </div>
                        <br><br><br><br><br><br><br><br>
                        <div class="image-container image-left" style="background-image: url('assets/img/photos/11.png')">
                            <!-- Fifth image on the right side -->  
                        </div>
                    </div>
                </div> 
                <div class="section-story-overview">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image-container image-left" style="background-image: url('assets/img/photos/12.png')">
                                <!-- Sixth image on the left side -->
                            </div>
                             <!-- Seventh image on the left side of the article -->
                            <div class="image-container" style="background-image: url('assets/img/photos/13.png')"></div>
                        </div>
                        <div class="col-md-5">
                            <!-- Sixth image on the right side, above the article -->
                            <div class="image-container image-right" style="background-image: url('assets/img/photos/14.png')"></div>
                            <h3>Le programme scout des origins</h3>
                            <p> Le Scoutisme à ses débuts était un programme éducatif pour les garçons de 11 à 18 ans. Mais presque 
                                immédiatement d'autres voulurent aussi participer. Baden-Powell lança le programme des Guides en 1910.
                                 Son épouse, Olave, avec qui il s'était uni en 1912, devint la Cheftaine Guide.</p>
                            <p>
                                Une branche des Louveteaux fut créée pour les garçons plus jeunes. Elle utilisa le "Livre de la Jungle" 
                                de Rudyard Kipling, comme cadre symbolique pour les activités. Pour les garçons plus âgés, la branche des 
                                Routiers fut créée.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <br>
                            <!-- Eighth image on the left side of the article -->
                            <div class="image-container" style="background-image: url('assets/img/photos/15.png')"></div>
                        </div>
                        <div class="col-md-5">
                            <h3>Les guerres mondiales</h3>
                            <p>Dans l'intervalle entre les deux guerres mondiales, le Scoutisme continua à croître dans toutes les parties 
                                du monde - excepté dans les pays totalitaires où il était interdit. Le Scoutisme est un Mouvement volontaire 
                                fondé sur des principes démocratiques.</p>
                            <p>Durant la seconde guerre mondiale, les scouts prirent en charge de nombreux services - messagers, veille anti-incendie, 
                                brancardiers, premiers secours, etc. Dans les pays occupés le Scoutisme poursuivit ses activités secrètement et 
                                les scouts jouèrent un rôle important au sein de la résistance et des mouvements clandestins. A la fin de la guerre, 
                                on découvrit que le nombre de scouts s'était accru dans plusieurs pays occupés.</p>
                            <h3>Les années '60', '70' et '80'</h3>
                            <p>Au cours de ces années, beaucoup de pays obtinrent leur indépendance. Le Scoutisme dans les pays en développement
                                 se transforma graduellement sous la conduite des responsables scouts de chaque pays pour mieux répondre aux 
                                 besoins de la communauté.</p>
                            <p>Les scouts, en particulier dans les pays en développement, s'impliquèrent dans des questions comme la santé 
                                infantile, l'amélioration de l'habitat, l'alphabétisation, la production alimentaire et l'agriculture, la formation 
                                professionnelle, etc.</p>
                            <p>La prévention de la toxicomanie, l'éducation aux compétences pour la vie, l'intégration des handicapés, la protection 
                                de l'environnement et l'éducation à l'environnement, l'éducation à la paix prirent place parmi les préoccupations 
                                des scouts du monde entier.</p>
                            <h3>L'ère post-communiste</h3>
                            <p>Dans les années 1990, le Scoutisme reprit naissance dans chacun des pays où il existait avant la seconde guerre mondiale, 
                                et il apparut à nouveau dans les pays nouvellement indépendants de la Communauté des Etats Indépendants (l'ancienne Union 
                                Soviétique).</p>   
                            <h3>Cent ans et au-delà</h3>
                            <p>En 2007, le Mouvement célébra le Centenaire du Scoutisme. Ce qui avait commencé dans un petit camp de l'île de Brownsea est 
                                aujourd'hui un Mouvement en pleine croissance avec des membres dans presque tous les pays à travers le monde. A travers 
                                sa combinaison unique d'aventure, d'éducation et d'amusement, le Scoutisme parvient à se renouveler sans cesse et à 
                                s'adapter à un monde changeant et aux différents besoins et intérêts des jeunes à travers le monde. Ce faisant, il continue 
                                à inspirer les jeunes afin qu'ils deviennent des citoyens actifs du niveau local au niveau mondial, engagés dans la 
                                création d'un monde meilleur.</p>
                        </div>
                    </div>
                </div> 
                </div>
            </div>
        </div>
        <footer class="footer footer-default">
            <div class="container">
                <div class="copyright">
                    &copy;
                    {{data | date: 'yyyy'}}, Designed by
                    . Coded by
                </div>
            </div>
        </footer>
    </div>