<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/photos/1.png');">
        </div>
    </div>
    <div class="section section-particular">
    	<div class="container">
            <div class="section-story-overview">
    		    <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/photos/2.png')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">"A Scout is never taken by surprise; he knows exactly what to do when anything unexpected happens"
                                <br>
                                <br>
                                <small>Robert Baden-Powell</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/photos/4.png')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/photos/3.png')"></div>
                        <h2 class="title">Promesse et Loi scoutes</h2>
                        <p>Le Mouvement scout est basé sur les principes suivants :
                        </p>
                        <h3>Devoir envers Dieu</h3>
                        <p>
                            La relation d&#39;une personne avec les valeurs spirituelles de la vie, la croyance fondamentale dans une
force qui dépasse l&#39;être humain.
                        </p>
                        <h3>Devoir envers autrui</h3>
                        <p>- La loyauté envers son pays dans la perspective de la promotion de la paix, de la compréhension et
                            de la coopération sur le plan local, national et international.</p>
                         <p>  - La participation au développement de la société dans le respect de la dignité de l&#39;être humain et de
                            l&#39;intégrité de la nature.
                        </p>
                        <h3>Devoir envers soi-même</h3>
                        <p>- La responsabilité de son propre développement.</p>
                         <p> Tous les membres du Mouvement scout s&#39;engagent à suivre la Promesse et la Loi scoutes, exprimées
                            par Lord Baden-Powell, le fondateur du Scoutisme :
                        </p>
                    </div>
                    <div class="col-md-6">
                        <br>
                        <!-- third image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/photos/5.png')"></div>
                    </div> 
                <div class="col-md-5">
                    <h4>La Promesse scoute</h4> 
                    <p>Sur mon honneur, je promets de faire tout mon possible pour :</p> 
                        <ul>
                            <li> Dieu et le roi (ou Dieu et mon pays),</li>
                               <li>Aider mon prochain à tout moment,</li>
                            <li>Obéir à la Loi scoute.</li> 
                        </ul>
                    <h4>La Loi scoute</h4>
                        <ol>
                            <li> Le scout n’a qu’une parole. </li> <br>                          
                            <li>Le scout est loyal.</li><br>
                            <li>Le scout se rend utile et aide son prochain.</li><br>
                            <li> Le scout est un ami pour tous et un frère pour tous les autres scouts.</li><br>
                            <li>Le scout est courtois.</li><br>
                            <li>Le scout est bon pour les animaux. </li><br>                           
                            <li>Le scout obéit sans discussion à ses parents, à son chef de patrouille et à son chef</li><br>
                            <li>Le scout sourit et siffle en toute difficulté.</li><br>
                            <li>Le scout est économe </li><br>
                            <li>Le scout est propre dans ses pensées, ses paroles et ses actes.</li><br>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer footer-default">
            <div class="container">
                <div class="copyright">
                    &copy;
                    {{data | date: 'yyyy'}}, Designed by
                    . Coded by
                </div>
            </div>
        </footer>
    </div>
    </div>