<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/photos/1.png');">
        </div>
    </div>
    <div class="section section-particular">
    	<div class="container">
            <div class="section-story-overview">
    		    <div class="row">
                    <div class="col-md-5">
                        <h2 class="title">Vous êtes un particulier</h2>
                        <p>Les dons permettent d’accueillir toujours plus de jeunes, grâce à la formation de bénévoles, dont de nombreux chefs et cheftaines, mais aussi grâce à de nouvelles structures d’accueil notamment pour les enfants et les jeunes en situation de handicap.</p>
                        <br>
                        <p>Enfin, ils financent de nombreuses activités en vue d’éduquer la jeunesse à la protection de la nature et au développement durable.</p>
                    </div>
                    <div class="col-md-7"> 
                        <div class="row justify-content-center">
                      <div class="col-8">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/photos/5.png" alt="First slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <h5>Nature,</h5>
                              </div>
                            </ng-template>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/photos2/p1.png" alt="Second slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <h5>Somewhere Beyond,</h5>
                              </div>
                            </ng-template>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/photos2/p2.png" alt="Third slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <h5> National,</h5>
                              </div>
                            </ng-template>
                        </ngb-carousel>
                      </div>
                  </div>  
                    </div> 
                </div>
            </div>
        </div>
        <footer class="footer footer-default">
            <div class="container">
                <div class="copyright">
                    &copy;
                    {{data | date: 'yyyy'}}, Designed by
                    . Coded by
                </div>
            </div>
        </footer>
    </div>
    </div>