<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
      <div class="dropdown button-dropdown">
        <div ngbDropdown>
          <a class="dropdown-toggle" ngbDropdownToggle>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
          </a>
          
          
           <div ngbDropdownMenu>
             <a [routerLink]="['/products']" class="dropdown-item" href="#">our products</a>
             <a [routerLink]="['/join-us']" class="dropdown-item" href="#">Join us</a>
             <a [routerLink]="['/explore']" class="dropdown-item" href="#"> Explore</a>
             <a [routerLink]="['/work-with-us']" class="dropdown-item" href="#">Career - “Work with us”</a>
             <!--<div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Separated link</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">One more separated link</a>-->
           </div>
         </div>
      </div>
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/index']" placement="bottom">
                Tunisian Scout Association
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
                
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
              
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/contact-us']"  target="_blank">
                    <i class="now-ui-icons ui-1_send"></i>
                    <p>Contact</p>
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/support-us']"  target="_blank">
                  <i class="now-ui-icons business_money-coins"></i>
                  <div class="dropdown">
                    <span>Nous soutenir</span>
                    <div class="dropdown-content">
                      <a [routerLink]="['/particular']" class="dropdown-item" href="#">Vous êtes un particulier ?</a>
                      <a [routerLink]="['/entreprise']" class="dropdown-item" href="#">Vous êtes une entreprise ?</a>
                      <a [routerLink]="['/association']" class="dropdown-item" href="#">Vous êtes une association ? </a>
                    </div>
                  </div>
                </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/about-us']"  target="_blank">
                    <i class="now-ui-icons business_badge"></i>
                    <div class="dropdown">
                      <span>A propos du scout</span>
                      <div class="dropdown-content">
                        <a [routerLink]="['/who-we-are']" class="dropdown-item" href="#">Qui sommes nous ?</a>
                        <a [routerLink]="['/law']" class="dropdown-item" href="#">Promesse et Loi scoutes</a>
                        <a [routerLink]="['/mission']" class="dropdown-item" href="#">Mission et vision</a>
                        <a [routerLink]="['/governance']" class="dropdown-item" href="#">Gouvernance et organisation </a>
                        <a [routerLink]="['/politic']" class="dropdown-item" href="#">Politique de protection de l’enfance</a>
                        <a [routerLink]="['/history']" class="dropdown-item" href="#">L’histoire du Scoutisme</a>
                      </div>
                    </div>
                  </a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/contact-us']"  target="_blank">
                    <i class="now-ui-icons shopping_cart-simple"></i>
                    <p>Shop</p>
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/our-goals']"  target="_blank">
                  <i class="now-ui-icons media-1_button-play"></i>
                  <p>Sustainable </p><br>
                  <p>development goals</p>
                </a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/le_scout_tunisien" target="_blank">
                    <i class="fab fa-instagram"></i>
                    <p class="d-lg-none d-xl-none">Instagram</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/join-us']"  target="_blank">
                    <i class="now-ui-icons ui-1_send"></i>
                    <p>S'inscrire</p>
                  </a>
              </li>
            </ul>
        </div>
    </div>
</nav>
<style>

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>