<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/photos/1.png');">
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Qui somme nous?</h2>
                    <h5 class="description">L’association des scouts tunisiens est une organisation de scoutisme et d’éducation populaire qui vise
                        à former des citoyens actifs dans le développement de leurs pays, heureux de leurs
                        accomplissements et participants à la propagation de l’amour dans le monde entier. Notre
                        association mise sur une pédagogie du jeu, du projet, de l’équipe et de la vie dans la nature. Elle
                        propose ainsi aux jeunes filles et garçons un espace de vie qui répond à leur besoin de rêver, d’agir,
                        de réussir leurs projets, de vivre en communauté et de donner un sens à leur vie.
                        Une association reconnue par l’Etat Tunisien sous le JORT numéro N°2020X00260APSF1</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/photos/2.png')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">"A Scout is never taken by surprise; he knows exactly what to do when anything unexpected happens"
                                <br>
                                <br>
                                <small>Robert Baden-Powell</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/photos/4.png')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/photos/3.png')"></div>
                        <h2 class="title">Promesse et Loi scoutes</h2>
                        <p>Le Mouvement scout est basé sur les principes suivants :
                        </p>
                        <h3>Devoir envers Dieu</h3>
                        <p>
                            La relation d&#39;une personne avec les valeurs spirituelles de la vie, la croyance fondamentale dans une
force qui dépasse l&#39;être humain.
                        </p>
                        <h3>Devoir envers autrui</h3>
                        <p>- La loyauté envers son pays dans la perspective de la promotion de la paix, de la compréhension et
                            de la coopération sur le plan local, national et international.</p>
                         <p>  - La participation au développement de la société dans le respect de la dignité de l&#39;être humain et de
                            l&#39;intégrité de la nature.
                        </p>
                        <h3>Devoir envers soi-même</h3>
                        <p>- La responsabilité de son propre développement.</p>
                         <p> Tous les membres du Mouvement scout s&#39;engagent à suivre la Promesse et la Loi scoutes, exprimées
                            par Lord Baden-Powell, le fondateur du Scoutisme :
                        </p>
                    </div>
                        <div class="col-md-6">
                            <br>
                            <!-- third image on the left side of the article -->
                            <div class="image-container" style="background-image: url('assets/img/photos/5.png')"></div>
                        </div> 
                    <div class="col-md-5">
                        <h4>La Promesse scoute</h4> 
                        <p>Sur mon honneur, je promets de faire tout mon possible pour :</p> 
                            <ul>
                            	<li> Dieu et le roi (ou Dieu et mon pays),</li>
                           	    <li>Aider mon prochain à tout moment,</li>
                            	<li>Obéir à la Loi scoute.</li> 
                            </ul>
                        <h4>La Loi scoute</h4>
                            <ol>
                                <li> Le scout n’a qu’une parole. </li> <br>                          
                                <li>Le scout est loyal.</li><br>
                                <li>Le scout se rend utile et aide son prochain.</li><br>
                                <li> Le scout est un ami pour tous et un frère pour tous les autres scouts.</li><br>
                                <li>Le scout est courtois.</li><br>
                                <li>Le scout est bon pour les animaux. </li><br>                           
                                <li>Le scout obéit sans discussion à ses parents, à son chef de patrouille et à son chef</li><br>
                                <li>Le scout sourit et siffle en toute difficulté.</li><br>
                                <li>Le scout est économe </li><br>
                                <li>Le scout est propre dans ses pensées, ses paroles et ses actes.</li><br>
                            </ol>
                    </div>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Mission et vision</h2>
                <h4>La Mission</h4>
                <p> « Le scoutisme a pour mission - en partant des valeurs énoncées dans la Promesse Scoute et la Loi  - de contribuer à 
                    l'éducation des jeunes afin de participer à la construction d'un monde meilleur peuplé de personnes épanouies, prêtes 
                    à jouer un rôle constructif dans la société. » La Mission fut adoptée lors de la 35e Conférence Mondiale du Scoutisme 
                    de Durban, en Afrique du Sud, en 1999. Illustrant aussi bien l’impact local que mondial du scoutisme, la Mission est 
                    synthétisée par la marque du Scoutisme mondial “Créer un monde meilleur”.</p>
                <h4> La Vission</h4>
                <p> « D’ici 2023, le scoutisme sera le principal mouvement éducatif pour les jeunes dans le monde, permettant à 100 millions 
                    de jeunes de devenir des citoyens actifs capables d'apporter un changement positif au sein de leur communauté et dans le 
                    monde sur la base de valeurs partagées. » La Vision pour le scoutisme a été adoptée sous le nom de “Vision 2023” lors de 
                    la 40e Conférence Mondiale du Scoutisme de Ljubljana, en Slovénie, en 2014.</p>
            </div>
            <div class="separator separator-primary"></div>
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Gouvernance et organisation </h2>
                <p>Sera fourni prochainement </p>
            </div>
        
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
            <div class="row">
                <div class="col-md-6">
                    <div class="image-container image-left" style="background-image: url('assets/img/photos/6.png')">
                        <!-- Forth image on the left side -->
                    </div>
                     <!-- Fifth image on the left side of the article -->
                    <div class="image-container" style="background-image: url('assets/img/photos/8.png')"></div>
                </div>
                <div class="col-md-5">
                    <!-- Second image on the right side, above the article -->
                    <div class="image-container image-right" style="background-image: url('assets/img/photos/7.png')"></div>
                    <h2 class="title">Politique de protection de l’enfance</h2>
                    <p>L’association du Scout Tunisien est engagée, depuis sa création, dans la protection de l’enfance qui est au cœur de 
                        notre politique éducative. Le bien-être et la sécurité des jeunes sont des piliers fondamentaux de notre politique 
                        éducative. 
                    </p>
                    <h3>Sensibilisation, formation et soutien des guides</h3>
                    <p>
                        Lors des différents stages de formation, un accent est mis sur l’obligation et la manière d’assurer la sécurité 
                        physique, affective et morale des mineurs. </p> <br><p>
D’autre part, aucune personne condamnée pour des faits d’agressions sur mineurs dans un autre cadre ne peut donc être en charge 
de l’animation ou de la direction d’accueil de mineurs au sein de l’association du Scout Tunisien.
                    </p>
        
                    <h3>Politique internationale de protection de l'enfance</h3>
                    <p>L'enfance est la première étape qu'une personne traverse, et se poursuit de sa naissance à l'âge adulte. L'enfant, 
                        à ce stade, est faible et a besoin de soins, d'attention et de services. Il est incapable de se défendre contre 
                        les dangers, et comme à la suite des nombreux abus subis par certains enfants, les organisations internationales 
                        se sont tournées vers des solutions de protection de l’enfance. Ces organisations ont lié les gouvernements des 
                        pays aux pactes qu'elles avaient émis et ont en fait été en mesure de protéger les enfants contre les abus. Ceci 
                        est effectué en imposant des sanctions à ceux qui violent leurs lois vis-à-vis des Etats membres. 
                    </p>
                    <h3>Le concept de protection de l'enfance</h3>
                    <p>La protection de l'enfance est un ensemble de règles, de cadres et de procédures qui sont prises pour prévenir les 
                        abus contre les enfants tels que la violence et l'exploitation, et pour préserver leur dignité et leur bien-être, 
                        afin de renforcer la confiance en soi de l'enfant pour émerger en tant que jeune homme équilibré qui ne souffre 
                        pas de maladies mentales, et donc la reconstruction de la société et augmenter son élévation.
                    </p>
                </div>
            </div>
        </div>
        <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                 <div class="row">
                    <div class="col-md-5">
                        <h2 class="title">L’histoire du Scoutisme</h2>
                        <p>Il y a plus de 40 millions de scouts, jeunes et adultes des deux sexes, dans plus de 200 pays et territoires. 
                            Quelque 500 millions de personnes ont été scoutes, y compris des gens occupant des positions éminentes dans 
                            tous les domaines.
                        </p>     
                        <h3>Les débuts</h3>
                        <p>Tout a commencé avec 20 garçons et un camp expérimental en 1907. Il eut lieu dans les neufs premiers jours du mois 
                            d’août, en 1907, sur l’île de Brownsea, près de Poole dans le Dorset, en Angleterre. Le camp connût un grand succès
                            et donna à son organisateur, Robert-Baden-Powell, la preuve que ses méthodes de formation plaisaient aux jeunes et                         fonctionnaient réellement.
                            En janvier 1908, Baden-Powell publia la première édition de "Eclaireurs". Ce fut un succès immédiat et depuis cette 
                            date l'ouvrage a été vendu à plus de 100 millions d'exemplaires, ce qui en fait un des livres les plus vendus de tous 
                            les temps. L'intention de Baden-Powell était seulement de proposer une méthode de formation des jeunes garçons, que 
                            les organisations de jeunesse existantes comme la Boys' Brigade (Brigade des Jeunes) et l'Union Chrétienne des Jeunes 
                            Gens (UCJG) pourraient adopter. A sa grande surprise, des jeunes commencèrent à s'organiser eux-mêmes en groupes qui 
                            allaient donner naissance à l'un des plus grands mouvements de jeunesse du monde.
                        </p> 
                        <h3>L'expansion du Mouvement</h3>
                        <p>Le succès de "Scouting for Boys" donna naissance à un Mouvement qui rapidement - automatiquement semble-t-il - 
                            adopta le nom de Boy Scouts. En 1909 "Scouting for Boys" avait été traduit en cinq langues, et un rassemblement 
                            scout à Londres attira plus de 11'000 scouts. En conséquence de vacances prises par Baden-Powell en Amérique du 
                            Sud, le Chili devint l'un des premiers pays, en dehors de la Grande-Bretagne, où le Scoutisme apparut. En 1910, 
                            B-P visita le Canada et les Etats-Unis où le Mouvement était déjà établi.
                        </p>
                        <br>
                        <p>Le déclenchement de la première guerre mondiale en 1914 aurait pu entraîner l'effondrement du Mouvement, mais la 
                            formation donnée à travers le système des patrouilles prouva sa valeur. Les chefs de patrouilles prirent la place 
                            des responsables adultes lorsque ceux-ci s'engagèrent dans le service actif. Les scouts contribuèrent à l'effort 
                            de guerre en Angleterre de bien des façons; parmi les plus notables peut-être, on peut citer les scouts marins, 
                            qui prirent le rôle des gardes-côtes et rendirent ceux-ci disponibles pour le service des armes.
                        </p>
                        <br>
                        <p>Le premier Jamboree Scout Mondial eut lieu en 1920 et réunit 8'000 participants. Il apporta la preuve que des 
                            jeunes de nations différentes pouvaient se rencontrer pour partager des intérêts et des idéaux communs. Depuis 
                            ce premier Jamboree à l'Olympia, à Londres, 21 autres Jamborees ont été organisés dans différents lieux à travers 
                            le monde.
                        </p>
                        <br>
                        <p>Le premier Jamboree Scout Mondial eut lieu en 1920 et réunit 8'000 participants. Il apporta la preuve que des 
                            jeunes de nations différentes pouvaient se rencontrer pour partager des intérêts et des idéaux communs. Depuis 
                            ce premier Jamboree à l'Olympia, à Londres, 21 autres Jamborees ont été organisés dans différents lieux à travers 
                            le monde. 
                        </p>
                        <br>
                        <p>En 1922, le premier Comité Mondial du Scoutisme fut élu au cours de la deuxième Conférence Internationale organisée
                            à Paris, avec des représentants de 31 Organisations scoutes nationales. Le Mouvement mondial comptait alors juste
                            un peu plus de un million de membres.
                        </p>
                    </div>
                    <br>
                    <div class="col-md-5"> 
                        <br><br><br><br><br><br><br><br>
                        <div class="image-container image-left" style="background-image: url('assets/img/photos/9.png')">
                            <!-- Third image on the right side -->    
                        </div> 
                        <br><br><br><br><br><br><br><br>
                        <div class="image-container image-left" style="background-image: url('assets/img/photos/10.png')">
                            <!-- Forth image on the right side -->    
                        </div>
                        <br><br><br><br><br><br><br><br>
                        <div class="image-container image-left" style="background-image: url('assets/img/photos/11.png')">
                            <!-- Fifth image on the right side -->  
                        </div>
                </div>
            </div> 
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/photos/12.png')">
                            <!-- Sixth image on the left side -->
                        </div>
                         <!-- Seventh image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/photos/13.png')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- Sixth image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/photos/14.png')"></div>
                        <h3>Le programme scout des origins</h3>
                        <p> Le Scoutisme à ses débuts était un programme éducatif pour les garçons de 11 à 18 ans. Mais presque 
                            immédiatement d'autres voulurent aussi participer. Baden-Powell lança le programme des Guides en 1910.
                             Son épouse, Olave, avec qui il s'était uni en 1912, devint la Cheftaine Guide.</p>
                        <p>
                            Une branche des Louveteaux fut créée pour les garçons plus jeunes. Elle utilisa le "Livre de la Jungle" 
                            de Rudyard Kipling, comme cadre symbolique pour les activités. Pour les garçons plus âgés, la branche des 
                            Routiers fut créée.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <br>
                        <!-- Eighth image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/photos/15.png')"></div>
                    </div>
                    <div class="col-md-5">
                        <h3>Les guerres mondiales</h3>
                        <p>Dans l'intervalle entre les deux guerres mondiales, le Scoutisme continua à croître dans toutes les parties 
                            du monde - excepté dans les pays totalitaires où il était interdit. Le Scoutisme est un Mouvement volontaire 
                            fondé sur des principes démocratiques.</p>
                        <p>Durant la seconde guerre mondiale, les scouts prirent en charge de nombreux services - messagers, veille anti-incendie, 
                            brancardiers, premiers secours, etc. Dans les pays occupés le Scoutisme poursuivit ses activités secrètement et 
                            les scouts jouèrent un rôle important au sein de la résistance et des mouvements clandestins. A la fin de la guerre, 
                            on découvrit que le nombre de scouts s'était accru dans plusieurs pays occupés.</p>
                        <h3>Les années '60', '70' et '80'</h3>
                        <p>Au cours de ces années, beaucoup de pays obtinrent leur indépendance. Le Scoutisme dans les pays en développement
                             se transforma graduellement sous la conduite des responsables scouts de chaque pays pour mieux répondre aux 
                             besoins de la communauté.</p>
                        <p>Les scouts, en particulier dans les pays en développement, s'impliquèrent dans des questions comme la santé 
                            infantile, l'amélioration de l'habitat, l'alphabétisation, la production alimentaire et l'agriculture, la formation 
                            professionnelle, etc.</p>
                        <p>La prévention de la toxicomanie, l'éducation aux compétences pour la vie, l'intégration des handicapés, la protection 
                            de l'environnement et l'éducation à l'environnement, l'éducation à la paix prirent place parmi les préoccupations 
                            des scouts du monde entier.</p>
                        <h3>L'ère post-communiste</h3>
                        <p>Dans les années 1990, le Scoutisme reprit naissance dans chacun des pays où il existait avant la seconde guerre mondiale, 
                            et il apparut à nouveau dans les pays nouvellement indépendants de la Communauté des Etats Indépendants (l'ancienne Union 
                            Soviétique).</p>   
                        <h3>Cent ans et au-delà</h3>
                        <p>En 2007, le Mouvement célébra le Centenaire du Scoutisme. Ce qui avait commencé dans un petit camp de l'île de Brownsea est 
                            aujourd'hui un Mouvement en pleine croissance avec des membres dans presque tous les pays à travers le monde. A travers 
                            sa combinaison unique d'aventure, d'éducation et d'amusement, le Scoutisme parvient à se renouveler sans cesse et à 
                            s'adapter à un monde changeant et aux différents besoins et intérêts des jeunes à travers le monde. Ce faisant, il continue 
                            à inspirer les jeunes afin qu'ils deviennent des citoyens actifs du niveau local au niveau mondial, engagés dans la 
                            création d'un monde meilleur.</p>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">organigramme</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/manel.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Manel Bahri</h4>
                            <p class="category text-primary">Secretary</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="https://www.facebook.com/manel.bahri.3990" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/mounir.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Mounir Chaoui</h4>
                            <p class="category text-primary">President</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="https://www.facebook.com/mounir.chaoui.7106" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/bilel.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Bilel Frikha</h4>
                            <p class="category text-primary">VP Information Technology</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="https://www.facebook.com/profile.php?id=100005356005816" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                . Coded by
            </div>
        </div>
    </footer>
</div>
</div>