<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/photos/1.png');">
      </div>
  </div>
  <div class="section section-particular">
    <div class="section-story-overview">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Find and apply</h2>
          <h4 class="timeline-title">Étapes pour rejoindre les scouts.</h4>
          <h5 class="description">Nous sommes ravis que vous souhaitiez rejoindre le mouvement du scoutisme. Pour vous guider, nous avons décrit les étapes nécessaires pour devenir membre.</h5>
                          <br>
        </div>       
        <div class="col-md-12">
          <div style="display:inline-block; width:100%;">
            <ul class="timeline timeline-horizontal">
              <li class="timeline-item">
                <div class="timeline-badge primary"><i class="glyphicon glyphicon-check"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">1-Localisez votre position</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Vous pouvez nous rejoindre en remplissant ce formulaire, avec les informations nécessaires, nous serons en mesure de vous aider à choisir la bonne unité pour vos besoins. </p>
                  </div>
                </div>
              </li>
              <li class="timeline-item">
                <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">2-Prise de Contact votre unité</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Une fois que vous avez rempli le formulaire, le chef d'unité vous contactera pour savoir quand aura lieu le prochain événement de recrutement.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-item">
                <div class="timeline-badge info"><i class="glyphicon glyphicon-check"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">3-Commencez votre aventure de reconnaissance! </h4>
                    </div>
                    <div class="timeline-body">
                      <p>Bienvenue aux scouts! Vous faites maintenant partie de l'Association tunisienne des scouts, le programme jeunesse le plus important du pays pour le développement du caractère et la formation au leadership basé sur les valeurs.</p>
                    </div>
                  </div>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="section section-Join-us text-center">
        <div class="container">
          <h2 class="title">Join us</h2>
          <p class="description">Your membership is very important to us.</p>
          <div class="row">
            <div class="col-lg-8 text-center col-md-10 ml-auto mr-auto">
              <form #joinForm="ngForm" (ngSubmit)="addMember(joinForm)" id="join-form">
            <table class="col-md-12">
              <tr>
                <td>
              <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                <div class="input-group-prepend" >
                  <span class="input-group-text">
                      <i class="now-ui-icons users_circle-08"></i>
                  </span>
                </div>
                  <input type="text" required  [(ngModel)]="joinForm.value.nom" name="nom" class="form-control" placeholder="Nom" (focus)="focus=true" (blur)="focus=false">
              </div>
            </td>
            <td>
              <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                <div class="input-group-prepend" >
                  <span class="input-group-text">
                      <i class="now-ui-icons text_caps-small "></i>
                  </span>
                </div>
                  <input type="text" class="form-control" required  [(ngModel)]="joinForm.value.prenom" name="prenom" placeholder="Prénom" (focus)="focus=true" (blur)="focus=false">
              </div>
            </td>
            </tr>
            <tr>
              <td>
              <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend" >
                  <span class="input-group-text">
                        <i class="now-ui-icons ui-1_email-85"></i>
                  </span>
                </div>
                  <input type="text" class="form-control" required  [(ngModel)]="joinForm.value.email" name="email" placeholder="E-mail" (focus)="focus1=true" (blur)="focus1=false">
              </div>
              </td>
              <td>
              <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend" >
                  <span class="input-group-text">
                        <i class="now-ui-icons tech_watch-time"></i>
                  </span>
                </div>
                  <input type="date" class="form-control datetimepicker" required  [(ngModel)]="joinForm.value.dateDeNaissance" name="dateDeNaissance" placeholder="Date de naissance"  ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus1=true" (blur)="focus1=false">
              </div>
              </td>
              </tr>
              <tr>
                <td>
              <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend" >
                  <span class="input-group-text">
                        <i class="now-ui-icons location_bookmark"></i>
                  </span>
                </div>
                  <input type="text" class="form-control" required  [(ngModel)]="joinForm.value.delegation" name="delegation" placeholder="Délégation" (focus)="focus1=true" (blur)="focus1=false">
              </div>
              </td>
              <td>
              <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend" >
                  <span class="input-group-text">
                        <i class="now-ui-icons location_bookmark"></i>
                  </span>
                </div>
                  <input type="text" class="form-control" required  [(ngModel)]="joinForm.value.gouvernaurat" name="gouvernaurat" placeholder="Gouvernaurat" (focus)="focus1=true" (blur)="focus1=false">
              </div>
              </td>
            </tr>
              <tr>
                <td>
              <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend" >
                  <span class="input-group-text">
                        <i class="now-ui-icons location_pin"></i>
                  </span>
                </div>
                  <input type="text" class="form-control" required  [(ngModel)]="joinForm.value.address" name="address" placeholder="address" (focus)="focus1=true" (blur)="focus1=false">
              </div>
              </td>
              <td>
              <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend" >
                  <span class="input-group-text">
                        <i class="now-ui-icons education_hat"></i>
                  </span>
                </div>
                  <input type="text" class="form-control" required  [(ngModel)]="joinForm.value.niveauEducatif" name="niveauEducatif" placeholder="Niveau Educatif" (focus)="focus1=true" (blur)="focus1=false">
              </div>
              </td>
              </tr>
              <tr>
                <td>
              <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend" >
                  <span class="input-group-text">
                        <i class="now-ui-icons design_bullet-list-67"></i>
                  </span>
                </div>
                  <input type="text" class="form-control" required  [(ngModel)]="joinForm.value.vousEtes" name="vousEtes" placeholder="etes vous:etudiant,eleve?" (focus)="focus1=true" (blur)="focus1=false">
              </div></td>
              <td>
              <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend" >
                  <span class="input-group-text">
                        <i class="now-ui-icons education_atom"></i>
                  </span>
                </div>
                  <input type="text" class="form-control" required  [(ngModel)]="joinForm.value.etablissement" name="etablissement" placeholder="Nom d'etablissement actuelle" (focus)="focus1=true" (blur)="focus1=false">
              </div></td></tr>
              <tr>
                <td>
              <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend" >
                  <span class="input-group-text">
                        <i class="now-ui-icons education_agenda-bookmark"></i>
                  </span>
                </div>
                  <input type="text" class="form-control" required  [(ngModel)]="joinForm.value.specialite" name="specialite" placeholder="Spécialité pour etudiant" (focus)="focus1=true" (blur)="focus1=false">
              </div></td><td>
              <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend" >
                  <span class="input-group-text">
                        <i class="now-ui-icons business_briefcase-24"></i>
                  </span>
                </div>
                  <input type="text" class="form-control" required  [(ngModel)]="joinForm.value.emploi" name="emploi" placeholder="emploi" (focus)="focus1=true" (blur)="focus1=false">
              </div></td></tr>
              <tr>
                <td>
              <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend" >
                  <span class="input-group-text">
                        <i class="now-ui-icons tech_mobile"></i>
                  </span>
                </div>
                  <input type="text" class="form-control" required  [(ngModel)]="joinForm.value.numTelephone" name="numTelephone" placeholder="Numéro de téléphone" (focus)="focus1=true" (blur)="focus1=false">
              </div></td><td>
              <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend" >
                  <span class="input-group-text">
                        <i class="now-ui-icons business_bulb-63"></i>
                  </span>
                </div>
                  <input type="text" class="form-control" required  [(ngModel)]="joinForm.value.scout" name="scout" placeholder="avez-vous déjà adhéré dans le moveuemnt scout?" (focus)="focus1=true" (blur)="focus1=false">
              </div></td></tr>
                <tr style="width:100%">
                  <td colspan="2">
                    <div class="send-button">
                      <a type="Submit" (click)="addMember(joinForm)" class="btn btn-primary btn-round btn-block btn-lg">Join US</a>
                    </div>
                  </td>
                </tr>
              </table>
            </form>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-primary"></div>
      <div class="row">
      <div class="container">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Frequently asked questions</h2>
          <br>
        </div>
        <div class="col-md-10">
            <h3 >1-Combien coûtent les scouts?</h3> 
          <p>&emsp;Comparé au coût des sports et des nombreuses autres activités, les scouts offrent sans aucun doute une grande valeur à leurs membres ! Les frais d'inscription pour les jeunes à rejoindre les Scouts sont de 20 dinars par an
          </p> 
          <p>
            Il peut y avoir d’autres frais supplémentaires pour les programmes ou les activités que votre unité peut organiser. Bien entendu.
          </p><br>
          <h3>2-Quand et à quelle fréquence les scouts se rencontrent-ils?</h3>
          <p>&emsp;Les heures et les lieux de réunion varient. En règle générale, les unités se réunissent toutes les semaines et moins fréquemment pendant l'été. Chaque unité établira un lieu et un calendrier de réunion appropriés pour ses membres. 
          </p><br>
          <h3>3-Les enfants ayant des besoins spéciaux peuvent-ils adhérer à l'association?</h3>
          <p>&emsp;L'association cherche à fournir des résultats positifs pour le développement personnel et les compétences en leadership à tous les jeunes qualifiés. Selon les besoins individuels et les circonstances impliquées, la direction de l'unité travaillera avec les parents de l'enfant pour assurer une expérience de scoutisme stimulante et enrichissante.</p>
          <p><b>Comment obtenir plus d'informations sur les scouts?</b></p>
          <p>&emsp;Bien qu'il existe de nombreuses ressources disponibles pour trouver plus d'informations sur les scouts, la meilleure chose à faire est de contacter directement votre troupe ! ils apporteront des réponses à toutes vos questions scoutes.</p>
          <br>
          <h3>4-Comment puis-je m'inscrire pour devenir bénévole? </h3>
          <p>&emsp;Merci de votre intérêt pour le bénévolat! Il n'y a rien de plus bénéfique que d'aider les jeunes à faire leurs premiers pas sur la voie du succès. Facile à démarrer! Remplissez simplement une demande (à travers ce lien) et soumettez-la, ainsi que les frais d'inscription annuels de 20Dt/An et votre troupe  vous guideront étape par étape tout au long du processus.</p>
          <br>
          <h3>5-Comment inscrire mon enfant dans les scouts?</h3>
          <p>&emsp;Vous avez fait un excellent choix pour explorer le plaisir et l'aventure du scoutisme! Pour commencer, il vous suffit de remplir le formulaire d'inscription et de l'envoyer. Ils vous guideront étape par étape tout au long du processus. 
          </p><br>
        </div>
        </div>
      </div>
               
      <footer class="footer footer-default">
          <div class="container">
              <div class="copyright">
                  &copy;
                  {{data | date: 'yyyy'}}, Designed by
               . Coded by
              </div>
          </div>
      </footer>
  </div>
  </div>





  <style>
@import url(https://fonts.googleapis.com/css?family=Cinzel:700);

/* Timeline */
.timeline,
.timeline-horizontal {
  list-style: none;
  padding: 20px;
  position: relative;
}
.timeline:before {
  top: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
}
.timeline .timeline-item:before,
.timeline .timeline-item:after {
  content: "";
  display: table;
}
.timeline .timeline-item:after {
  clear: both;
}
.timeline .timeline-item .timeline-badge {
  color: #fff;
  width: 54px;
  height: 54px;
  line-height: 52px;
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -25px;
  background-color: #bbdefb;
  border: 3px solid #ffffff;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {
  top: 2px;
  left: 0px;
}
.timeline .timeline-item .timeline-badge.primary {
  background-color: #bbdefb;
}
.timeline .timeline-item .timeline-badge.info {
  background-color: #26c6da;
}
.timeline .timeline-item .timeline-badge.success {
  background-color: #80DEEA;
}
.timeline .timeline-item .timeline-badge.warning {
  background-color: #a7ffeb;
}
.timeline .timeline-item .timeline-badge.danger {
  background-color: #42a5f5;
}
.timeline .timeline-item .timeline-panel {
  position: relative;
  width: 46%;
  float: left;
  right: 16px;
  border: 1px solid #c0c0c0;
  background: #ffffff;
  border-radius: 2px;
  padding: 20px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline .timeline-item .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -16px;
  display: inline-block;
  border-top: 16px solid transparent;
  border-left: 16px solid #c0c0c0;
  border-right: 0 solid #c0c0c0;
  border-bottom: 16px solid transparent;
  content: " ";
}
.timeline .timeline-item .timeline-panel .timeline-title {
  margin-top: 0;
  font-size: 25px;
  font-family: 'Waiting for the Sunrise', cursive; 
  color: #0c0c0c
}
.timeline .timeline-item .timeline-panel .timeline-body > p,
.timeline .timeline-item .timeline-panel .timeline-body > ul {
  margin-bottom: 0;
  font-family: 'Cinzel',sans-serif;
  color: #a79898;
}
.timeline .timeline-item .timeline-panel .timeline-body > p + p {
  margin-top: 0px;
}
.timeline .timeline-item:last-child:nth-child(even) {
  float: right;
}
.timeline .timeline-item:nth-child(even) .timeline-panel {
  float: right;
  left: 16px;
}
.timeline .timeline-item:nth-child(even) .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-horizontal {
  list-style: none;
  position: relative;
  padding: 20px 0px 20px 0px;
  display: inline-block;
}
.timeline-horizontal:before {
  height: 3px;
  top: auto;
  bottom: 26px;
  left: 56px;
  right: 0;
  width: 100%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item {
  display: table-cell;
  height: 280px;
  width: 20%;
  min-width: 320px;
  float: none !important;
  padding-left: 0px;
  padding-right: 20px;
  margin: 0 auto;
  vertical-align: bottom;
}
.timeline-horizontal .timeline-item .timeline-panel {
  top: auto;
  bottom: 64px;
  display: inline-block;
  float: none !important;
  left: 0 !important;
  right: 0 !important;
  width: 100%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item .timeline-panel:before {
  top: auto;
  bottom: -16px;
  left: 28px !important;
  right: auto;
  border-right: 16px solid transparent !important;
  border-top: 16px solid #c0c0c0 !important;
  border-bottom: 0 solid #c0c0c0 !important;
  border-left: 16px solid transparent !important;
}
.timeline-horizontal .timeline-item:before,
.timeline-horizontal .timeline-item:after {
  display: none;
}
.timeline-horizontal .timeline-item .timeline-badge {
  top: auto;
  bottom: 0px;
  left: 43px;
}



  </style>
  