<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/photos/1.png');">
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Mission et vision</h2>
                    <h4>La Mission</h4>
                    <p> « Le scoutisme a pour mission - en partant des valeurs énoncées dans la Promesse Scoute et la Loi  - de contribuer à 
                        l'éducation des jeunes afin de participer à la construction d'un monde meilleur peuplé de personnes épanouies, prêtes 
                        à jouer un rôle constructif dans la société. » La Mission fut adoptée lors de la 35e Conférence Mondiale du Scoutisme 
                        de Durban, en Afrique du Sud, en 1999. Illustrant aussi bien l’impact local que mondial du scoutisme, la Mission est 
                        synthétisée par la marque du Scoutisme mondial “Créer un monde meilleur”.</p>
                    <h4> La Vission</h4>
                    <p> « D’ici 2023, le scoutisme sera le principal mouvement éducatif pour les jeunes dans le monde, permettant à 100 millions 
                        de jeunes de devenir des citoyens actifs capables d'apporter un changement positif au sein de leur communauté et dans le 
                        monde sur la base de valeurs partagées. » La Vision pour le scoutisme a été adoptée sous le nom de “Vision 2023” lors de 
                        la 40e Conférence Mondiale du Scoutisme de Ljubljana, en Slovénie, en 2014.</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                . Coded by
            </div>
        </div>
    </footer>
</div>