<div class="wrapper">
	<div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/photos/1.png');">
        </div>
    </div>
    <div class="section section-support-us">
    	<div class="container">
            <div class="section-story-overview">
    		    <div class="row">
                    <div class="col-md-6">
                        <p>En tant que scouts, notre mission est de créer un monde meilleur. Il est de notre devoir d’équiper les jeunes des compétences nécessaires pour devenir des citoyens actifs du monde et contribuer à la paix et au développement durable. Au fil des années, le Scoutisme a apporté une contribution extraordinaire pour améliorer la durabilité de notre planète, promouvoir la paix et lutter contre les inégalités. Les principes et les valeurs des ODD sont déjà au cœur de ce qu’on fait en scouts et contribuer est notre priorité et notre message aux jeunes afin de sauver notre planète. </p>
                        <h2>Quels sont les objectifs de développement durable ?</h2>
                        <p>Les Objectifs de développement durable (ODD), également nommés Objectifs mondiaux, sont un appel mondial à agir pour éradiquer la pauvreté, protéger la Planète et faire en sorte que tous les êtres humains vivent dans la paix et la prospérité.</p>
                        <p>Les 17 ODD sont intégrés - reconnaissant que les interventions dans un domaine affecteront les résultats dans d'autres et que le développement doit équilibrer les aspects sociaux, économiques et environnementaux.</p>
                        <p>Nous devons travailler ensemble à atteindre ces objectifs ambitieux. La créativité, le savoir-faire, la technologie et les ressources financières de toute la société seront nécessaires pour atteindre les Objectifs dans tous les contextes.</p>    
                            
                            <br>
                    </div>
                    <div class="col-md-4"> 
                        <br><br><br><br><br><br><br><br><br>
                        <div class="image-container image-left" style="background-image: url('assets/img/login.jpg')">
                            <!-- Third image on the right side -->    
                        </div>   
                    </div>   
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="title">L’histoire du Scoutisme</h2>
                    <p>Il y a plus de 40 millions de scouts, jeunes et adultes des deux sexes, dans plus de 200 pays et territoires. 
                        Quelque 500 millions de personnes ont été scoutes, y compris des gens occupant des positions éminentes dans 
                        tous les domaines.
                    </p> 
                    </div>
                </div>
            </div>
            <div class="section-story-overview">
                <div class="row">
                   <div class="col-md-3">

                        <div class="image-container image-left" style="background-image: url('assets/img/gl1.png')">
                            <!-- Third image on the right side -->    
                        </div> <br>
                        <div class="image-container image-left" style="background-image: url('assets/img/gl2.png')">
                            <!-- Third image on the right side -->    
                        </div> <br>
                        <div class="image-container image-left" style="background-image: url('assets/img/gl3.png')">
                            <!-- Third image on the right side -->    
                        </div> <br>
                        <div class="image-container image-left" style="background-image: url('assets/img/gl4.png')">
                            <!-- Third image on the right side -->    
                        </div> <br>
                        <div class="image-container image-left" style="background-image: url('assets/img/gl5.png')">
                            <!-- Third image on the right side -->    
                        </div><br>
                        <div class="image-container image-left" style="background-image: url('assets/img/gl6.png')">
                            <!-- Third image on the right side -->    
                        </div> <br>
                        <div class="image-container image-left" style="background-image: url('assets/img/gl71.png')">
                            <!-- Third image on the right side -->    
                        </div> <br>
                        <div class="image-container image-left" style="background-image: url('assets/img/gl81.png')">
                            <!-- Third image on the right side -->    
                        </div> <br>
                        <div class="image-container image-left" style="background-image: url('assets/img/gl91.png')">
                            <!-- Third image on the right side -->    
                        </div> <br>
                        <div class="image-container image-left" style="background-image: url('assets/img/gl101.png')">
                            <!-- Third image on the right side -->    
                        </div> <br> 
                        <div class="image-container image-left" style="background-image: url('assets/img/gl111.png')">
                            <!-- Third image on the right side -->    
                        </div> <br>
                        <div class="image-container image-left" style="background-image: url('assets/img/gl121.png')">
                            <!-- Third image on the right side -->    
                        </div> <br>
                        <div class="image-container image-left" style="background-image: url('assets/img/gl131.png')">
                            <!-- Third image on the right side -->    
                        </div> <br>
                        <div class="image-container image-left" style="background-image: url('assets/img/gl141.png')">
                            <!-- Third image on the right side -->    
                        </div> <br>
                        <div class="image-container image-left" style="background-image: url('assets/img/gl151.png')">
                            <!-- Third image on the right side -->    
                        </div> <br>
                        <div class="image-container image-left" style="background-image: url('assets/img/gl161.png')">
                            <!-- Third image on the right side -->    
                        </div> <br>
                        <div class="image-container image-left" style="background-image: url('assets/img/gl171.png')">
                            <!-- Third image on the right side -->    
                        </div> 
                    
                   </div>
                   <div class="col-md-1">

                   </div>
                   <div class="col-md-7"> 
                        <br><br>   
                    <h3 style="color:red">1 - Pas de pauvreté : </h3>
                    <p>Près de la moitié du monde vit dans la pauvreté aujourd’hui, et tant de gens sont privés des besoins humains fondamentaux comme une nourriture adéquate et de l’eau potable. Éliminer la pauvreté, c’est donner à tous les peuples du monde entier une chance égale de vivre une vie épanouie.  Les scouts du monde entier ont déjà mené des milliers de projets et pris des mesures pour réduire la pauvreté. </p>
                    <br><br><br><br><br><br> <br><br>
                    <h3 style="color:rgb(255, 217, 0)">2- Faim zéro  </h3>
                    <p>: Nous avons déjà assez de nourriture pour nourrir tout le monde sur la planète, mais la faim reste la principale cause de décès dans le monde. Des millions de personnes souffrent de malnutrition, mais si nous réduisons simplement le gaspillage alimentaire, donnons à chacun un accès égal à la terre et soutenons les agriculteurs locaux et durables, personne n’aura plus jamais faim. </p>
                    <br><br><br><br> <br><br><br><br>
                    <h3 style="color:green">3-Bonne santé et bien-être :</h3>
                    <p>Tout le monde mérite de vivre une vie saine. Atteindre l’objectif 3 signifie rendre les visites médicales plus accessibles et plus abordables, permettre aux gens de mener un mode de vie plus sain et prévenir les maladies grâce à l’accès aux différents services de santé.
                        En tant que l’Association du Scout Tunisien, s’assurer que notre environnement est sain et propre est une priorité, surtout pendant cette pandémie. Ça fait deux mois qu’on a commencé un projet de stérilisation qui vise les écoles primaires et des collèges pour assurer la sécurité et le bien-être des élèves, des enseignants et des travailleurs.
                       </p>
                       <br><br><br><br> <br><br>
                       <h3 style="color:rgba(243, 20, 20, 0.849)">4- Education de qualité : </h3>
                       <p>L’éducation peut être la clé qui ouvre la porte à toute une vie d’opportunités, mais seulement si tout le monde a accès à des possibilités d’apprentissage tout au long de la vie, que ce soit à l’intérieur ou à l’extérieur de l’école. 
                        En effet, rejoindre les scouts est une excellente façon d’apprendre. Nous apprenons une chose nouvelle chaque jour. Le scoutisme vous donne des aptitudes sociales et de vie, et un grand sens du leadership. 
                        </p>
                        <br><br><br><br> <br><br><br><br>
                        <h3 style="color:rgb(255, 94, 0)">5-Égalité entre les sexes :  </h3>
                        <p>Tous les êtres humains sont nés égaux, quel que soit leur sexe. Il est de notre devoir de s’assurer que les femmes et les hommes aient des chances et des droits égaux dans tous les domaines de la vie. Lorsque les femmes sont habilitées, toute la société en profite. Dans le scoutisme, les garçons et les filles sont égaux. Ils prennent les mêmes positions de leadership et ont les mêmes responsabilités parce que nous croyons fermement en l’égalité des sexes. </p>
                        <br><br><br><br> <br><br>
                        <h3 style="color:rgb(0, 217, 255)">6- Eau potable et assainissement :  </h3>
                        <p>Pouvez-vous imaginer une vie sans eau ? 1 personne sur 9 n’a pas d’accès à l’eau potable, et pire encore, 1 personne sur 3 n’a pas accès aux toilettes. L’accès à l’eau potable et aux services d’assainissement appropriés peut sauver des millions de vies par an en prévenant les maladies d’origine hydrique, la déshydratation et la contamination.</p>
                        <br><br><br><br> <br><br><br><br><br>
                        <h3 style="color:rgb(255, 208, 0)">7- Energie propre et d’un cout abordable :  </h3>
                        <p>
                            Notre dépendance à l’égard de l’énergie impure signifie que le changement climatique s’accélère et que des millions de personnes souffrent de problèmes de santé. Mais il ne s’agit pas seulement de passer à l’énergie propre et renouvelable, plus d’un milliard de personnes n’ont même pas d’électricité.
                        </p>
                        <br><br><br><br> <br><br><br><br><br>
                        <h3 style="color:rgba(133, 1, 1, 0.664)">8 – Travail décent et croissance économique :</h3>
                        <p>
                             Plus de 200 millions de personnes n’ont pas d’emploi, et beaucoup d’eux vivent encore dans la pauvreté. Atteindre l’objectif 8 c’est créer des emplois décents, offrir aux jeunes les compétences professionnelles pertinentes nécessaires, protéger les droits des travailleurs et mettre fin au travail des enfants.
                        </p>
                        <br><br><br><br> <br><br><br><br><br>
                        <h3 style="color:orangered">9 - Industrie, innovation et infrastructure :  </h3>
                        <p>
                            Les investissements dans les infrastructures – les transports, l’irrigation, l’énergie et les technologies de l’information et de la communication sont essentiels à la réalisation d’un développement durable et à l’autonomisation des communautés dans plusieurs pays. La technologie est en perpétuel évolution, les villes se développent et les énergies renouvelables deviennent de plus en plus importantes. 
                        </p>
                        <br><br><br><br> <br><br><br><br>
                        <h3 style="color:rgb(209, 7, 125)">10 – inégalités réduites :   </h3>
                        <p>Tout le monde mérite d’avoir les mêmes chances de vivre une vie heureuse, saine et réussie, mais les inégalités ne cessent d’augmenter entre les classes sociales, les populations rurales et urbaines et les personnes de sexe, d’ethnies et de capacités différentes. Il est de notre responsabilité de nous assurer que tout le monde autour de nous est traité avec respect et capable de vivre une vie épanouie.

                        </p>
                        <br><br><br><br> <br><br><br>
                        <h3 style="color:rgb(255, 136, 0)">11 – Villes et communautés durables :  </h3>
                        <p>Plus de la moitié du monde vit dans les zones urbaines, et d’ici 2050, ce nombre risque d’augmenter pour atteindre plus des 2/3 de la population mondiale. Nous devons nous assurer que les villes sont sûres, inclusives et durables pour tous, en particulier pour les femmes, les enfants et les personnes handicapées. Ce n’est pas seulement la responsabilité des gouvernements locaux et des urbanistes, mais aussi des individus de s’occuper de leurs quartiers.

                        </p>
                        <br><br><br><br> <br><br><br>
                        <h3 style="color:rgba(255, 174, 0, 0.781)">12 – Consommation et production responsables : </h3>
                        <p> Les humains consomment beaucoup. Qu’il s’agisse d’eau, de nourriture ou d’énergie, cela signifie également que nous produisons une grande quantité de déchets. Pour atteindre l’objectif 12, nous devons tous consommer moins de plastiques à usage unique, recycler et réutiliser ce que nous pouvons, et envisager d’acheter uniquement des produits naturels et recyclables.</p>
                        <br><br><br><br> <br><br><br>
                        <h3 style="color:rgba(2, 110, 2, 0.384)">13 – Mesures relatives à la lutte contre le changement climatique :  </h3>
                        <p>Les effets négatifs du changement climatique sont déjà visibles dans plusieurs aspects de la vie. Compenser l’impact du changement climatique commence par soit en prenons conscience et s’informer, et éventuellement agir. Nous devons tous participer pour réduire les effets du changement climatique sur notre planète, notre terre</p>
                        <p>
                            Le scoutisme consiste dans une grande partie à vivre dans la nature et l’embrasser. Notre amour pour la nature nous pousse toujours à prendre soin de notre environement. De nombreuses campagnes de nettoyage ont été organisées par notre association afin de réduire la quantité de pollution et ses effets nocifs. 
                        </p>
                        <br><br><br>
                        <h3 style="color:rgb(0, 102, 255)">14 – Vie aquatique :  </h3>
                        <p>: Une gestion prudente de cette ressource mondiale essentielle, l’eau est un élément clé d’un avenir durable. Les océans et les mers couvrent plus de 70% de notre planète. Ces ressources sont vraiment indispensables à l’existence humaine puisqu’on on en a besoin pour se nourrir, boire, fournir de l’énergie... Mais des phénomènes comme la surpêche et pollution plastique sont une vraie menace pour ces ressources vitales. </p>
                        <br><br><br><br> <br><br><br><br><br>
                        <h3 style="color:green">15 – Vie terrestre :  </h3>
                        <p>Les forêts abritent des millions d’espèces et nous fournit de l’air et de l’eau propres. Pour protéger et restaurer la vie sur terre, nous devons mettre fin à la déforestation et préserver la biodiversité.</p>
                        <br><br><br><br> <br><br><br><br><br><br>
                        <h3 style="color:rgb(0, 132, 255)">16 – Paix, justice et institutions efficaces : </h3>
                        <p>: Le développement durable dépend d’un monde pacifique, exempt de conflits, d’injustices et d’abus. La consolidation de la paix et l’établissement d’une compréhension mutuelle par le dialogue est important pour prendre des mesures individuelles pour des communautés résilientes, défendre les droits de l’homme et être un citoyen actif dans les structures de gouvernance.</p>
                        <br><br><br><br> <br><br><br><br>
                        <h3 style="color:rgb(11, 11, 182)">17 – Partenariat pour la réalisation des objectifs :</h3>
                        <p>Les objectifs du développement durable ne peuvent être atteints que si nous travaillons tous ensemble. Le monde d’aujourd’hui est plus interconnecté que jamais, ce qui signifie que le moment est venu de s’associer et de s’entraider.</p>
                     
                    </div>
                    
                    <div class="col-md-10">
                        <br><br>
                        <p>Notre objectif en tant qu’association scout est de contribuer autant que possible aux objectifs de développement durable. Nos projets et nos actions seront tous orientés vers la réalisation de ces objectifs pour créer un monde meilleur pour nous et pour les générations futures.  </p>
                    </div>
           </div>
           </div>
    	</div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>

